<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>
    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="login" class="navigation__link">Login</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Stories</a></li>
            <li class="navigation__item"><a href="categories" class="navigation__link">Explore Categories</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">About Reminiscence</a></li>
        </ul>
    </nav>
  </div>