<div class="popup" id="popup">
  <div class="popup__content">
      <div class="popup__left">
          <img src="img/nature-photography.JPG" alt="Gallery Photo" class="popup__img">
          <img src="img/nature-photography_bak.jpg" alt="Gallery Photo" class="popup__img">
      </div>
      <div class="popup__right">
          <a href="#section-category" class="popup__close">&times;</a>
          <h2 class="heading-secondary u-margin-bottom-small">About the Genre!</h2>
          <h3 class="heading-tertiary u-margin-bottom-small">Interesting facts &ndash;</h3>
          <p class="popup__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias earum quos molestiae, id sint nihil eum a. Mollitia, dolore pariatur in possimus, molestias quam, temporibus neque ullam quo provident similique? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus ullam officia optio illo sit sed doloribus? Corrupti necessitatibus saepe earum enim quo, illo odit fugit dolor? Quidem, suscipit! Sit, esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias earum quos molestiae, id sint nihil eum a. Mollitia, dolore pariatur in possimus, molestias quam, temporibus neque ullam quo provident similique? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus ullam officia optio illo sit sed doloribus? Corrupti necessitatibus saepe earum enim quo, illo odit fugit dolor?
          </p>
          <a href="#" class="btn btn--green">Explore more</a>
      </div>
  </div>
</div>