<section class="section-stories">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="../../assets/video.mp4" type="video/mp4">
            <source src="../../assets/video.webm" type="video/webm">
            Your browser is not supported.
        </video>
    </div>
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Straight from the viewers
        </h2>
    </div>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="../../assets/nat-8.jpg" alt="Viewer" class="story__image">
                <figcaption class="story__caption">Taruna Gupta</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">
                    Visiting The Heart Of Neolithic Orkney In Scotland
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod mollitia in laborum ratione.
                    Distinctio esse incidunt obcaecati! Ab, sed dolores animi ratione exercitationem dolorem,
                    laudantium alias amet nisi, dolore obcaecati? Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Quod mollitia in laborum ratione. Distinctio esse incidunt obcaecati! Ab,
                    sed dolores animi ratione exercitationem dolorem, laudantium alias amet nisi, dolore
                    obcaecati?
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img src="../../assets/nat-9.jpg" alt="Viewer" class="story__image">
                <figcaption class="story__caption">Sandeep Kumar</figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary u-margin-bottom-small">
                    Exciting pictures. photographer has really captured the best of nature.
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod mollitia in laborum ratione.
                    Distinctio esse incidunt obcaecati! Ab, sed dolores animi ratione exercitationem dolorem,
                    laudantium alias amet nisi, dolore obcaecati? Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Quod mollitia in laborum ratione. Distinctio esse incidunt obcaecati! Ab,
                    sed dolores animi ratione exercitationem dolorem, laudantium alias amet nisi, dolore
                    obcaecati?
                </p>
            </div>
        </div>
    </div>
    <div class="u-center-text u-margin-top-medium">
        <a href="#" class="btn-text">Read all stories &rarr;</a>
    </div>
</section>