<section class="section-login">
  <div class="row">
      <div class="login">
          <div class="login__form">
              <form action="#" class="form">
                  <div class="u-margin-bottom-medium">
                      <h2 class="heading-secondary">
                          Login
                      </h2>
                  </div>
                  <div class="form__group">
                      <input type="email" class="form__input" placeholder="Email Address" id="email" required>
                      <label for="email" class="form__label">Email Address</label>
                  </div>
                  <div class="form__group">
                      <input type="password" class="form__input" placeholder="Password" id="password" required>
                      <label for="password" class="form__label">Password</label>
                  </div>
                  <div class="form__group">
                      <div class="row">
                          <div class="form__group">
                              <button class="btn btn--green">Login &rarr;</button>
                              <button class="btn btn--grey btn-margin" (click)='cancel()'>Cancel</button>
                          </div>
                      </div>
                      <a href="register" class="btn-text">Register &rarr;</a>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>