<section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Through my Lens
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <h3 class="heading-tertiary u-margin-bottom-small">Space where hobby meets passion.</h3>
            <p class="paragraph">Starting this space to capture the content from my travels. Going out with a
                camera and clicking pictures of nature is something which fascinated me. Through my lens is a
                space for all amateur photographers who want to start blogging just like me.</p>

            <h3 class="heading-tertiary u-margin-bottom-small">Live adventures like you never have before.</h3>
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi repellat
                libero asperiores rerum fuga? Distinctio velit quia!</p>
            <a href="#" class="btn-text">Explore Gallery &rarr;</a>
        </div>
        <div class="col-1-of-2">
            <div class="composition">
                <img src="../../assets/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                <img src="../../assets/nat-2-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p2">
                <img src="../../assets/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
            </div>
        </div>
    </div>
</section>