<footer class="footer">
  <div class="footer__logo-box">
      <img src="../../assets/logo2x.png" alt="Footer logo" class="footer__logo">
  </div>
  <div class="row">
      <div class="col-1-of-2">
          <div class="footer__navigation">
              <ul class="footer__list">
                  <li class="footer__item">
                      <a href="#" class="footer__link">Contacts</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">Terms & Conditions</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">Privacy</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-1-of-2">
          <p class="footer__copyright footer__navigation">
              This website is built by <a href="#" class="footer__link">Sandeep Kumar</a>. 
              It's built to create a gallery of images from different captured by me. 
              It also contains pictures from various other sources for which the source and the 
              copyright would be mentioned wherever applicable. I hope you would like this 
              concept or reliving the mother nature through my lens. Copyright &copy; by 
              Sandeep Kumar. You are allowed to use this webpage and the images, but NOT 
              to claim as your own work. A credit to original author is highly appreciated.
          </p>
      </div>
  </div>
</footer>