<header class="header">
    <div class="header__logo-box">
        <img src="../../assets/logo-white.png" alt="logo" class="header__logo">
    </div>
    <div class="header__head-text">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Galeria</span>
            <span class="heading-primary--sub">Capturing the beauty of your journey</span>
        </h1>
        <a href="categories" class="btn btn--white btn--animate">Explore Gallery</a>
    </div>
</header>
<app-about></app-about>
<app-features></app-features>
<app-stories></app-stories>
<app-gallery></app-gallery>